@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import "./fonts.scss";

* {
  font-family: "Poppins", sans-serif;
}
:root {
  --main-bg-color: #1c315e;
}
body {
  margin: 0;
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #353c48;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.list-group-flush > .list-group-item {
  border-color: #000;
}
.list-group-flush > .list-group-item:last-child {
  border-bottom: var(--bs-list-group-border-width) solid
    var(--bs-list-group-border-color);
  border-color: #000;
}

.text-secondary {
  color: #585858 !important;
}
