@import "@styles/mediaquery.scss";

.showWrap {
  min-height: calc(100vh - 150px);
  padding: 20px 0;
  ul {
    width: 75%;
    margin-top: 25px;
    li {
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @include mediaForMobile {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.castInfo {
  .avatar {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: inherit;
      object-fit: cover;
    }
  }
}

.hero {
  background-color: var(--main-bg-color);
  padding: 40px 0;
  color: #fff;
  p {
    color: floralwhite;
  }
}
